<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenColor</string>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
</dict>
</plist>
